extends layout

block content
  h1= title
  p Homework 3

  #problemOne
    p Problem 1 - Average
    input#average(type='text')
    button#button1 Submit
  #problemTwo
    p Problem 2
    input#max(type='text')
    button#button2 Submit
  #problemThree
    p Problem 3
    input#evenNumber(type='text')
    button#button3 Submit
  #problemFour
    p Problem 4
    input#everyNumberEven(type='text')
    button#button4 Submit
  #problemFive
    p Problem 5
    input#fiveStringArray(type='text')
    input#fiveString(type='text')
    button#button5 Submit
  #problemSix
    p Problem 6
    input#sixStringArray(type='text')
    input#sixString(type='text')
    button#button6 Submit
